@media(max-width: 1024px) {

    .cabecalho img {
        transform: translateX(25%);
    }

    .cabecalho .retangulo .text {
        display: none !important;
    }

    .cabecalho .icones .icone {
        transform: translateX(100%);
        width: 20px;
        height: 20px;
        object-fit: contain;
    }

    .cabecalho2 {
        font-family: Verdana, Tahoma, sans-serif;
        background-color: #e7dac2;
        position: absolute;
        padding: 12px;
        display: flex;
        justify-content: center;
        border-radius: 10px;
        margin: 10px auto;
        width: fit-content;
        transform: translate(60%, -35%);
    }        

}