@font-face {

    font-family: 'Blank Script';
    src: url('../fontes/Blank\ Script.woff') format('truetype');
}

.cabecalho {
    background-color: #e7dac2;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: flex-end;
}

img {
    transform: translateX(80%);
}

.cabecalho .retangulo {
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin-left: 50px;
    margin-bottom: 10px;
    overflow: hidden;
}

.hobbie {
    font-family: 'Blank Script';
    color: #3f2c1e;
    font-size: 90px;
    font-weight: 500;
    margin-bottom: 30px;
    margin-top: 60px;
    padding: 50px;
    letter-spacing: 5px;
    justify-self: center;
}

.cabecalho .retangulo .text {
    font-family: 'Blank Script';
    font-size: 22px;
    color: #8d6f59;
    letter-spacing: 3px;
    position: relative;
    top: 100px;
    transition: top 0.5s;
    transform: translateX(9px);
}

.cabecalho .retangulo:hover .text {
    top: 0;
}

.cabecalho .icones a {
    display: inline-flex;
    list-style: none;
    position: relative;
    transform: translateX(-50px);
    color: black;
}

.cabecalho .icones .icone {
    position: relative;
    border-radius: 50%;
    padding: 20px;
    margin: 15px;
    width: 50px;
    height: 50px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    z-index: 99;
}

.cabecalho .icones .icone .descricao {
    position: absolute;
    top: 0;
    font-size: 14px;
    letter-spacing: 1px;
    color: #ffffff;
    padding: 5px 8px;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(118, 199, 242, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.cabecalho .icones .icone:hover .descricao {
    top: -35px;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    background: var(--color);
    color: white;
}

.cabecalho .icones .icone .descricao::before {
    position: absolute;
    content: "";
    height: 8px;
    width: 8px;
    background: #ffffff;
    bottom: -3px;
    left: 50%;
    transform: translate(-50%) rotate(45deg);
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.cabecalho .icones .icone:hover {
    background: var(--color);
    color: white;
}

.cabecalho .icones .icone:hover .descricao::before {
    background: var(--color);
}

.cabecalho .icones .icone:hover span {
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.instagram {
    --color: #e4405f;
}

.youtube {
    --color: #cd201f;
}

.cabecalho2 {
    font-family: Verdana, Tahoma, sans-serif;
    background-color: #e7dac2;
    position: absolute;
    padding: 12px;
    display: flex;
    transform: translateX(170%) translateY(-17%);
    border-radius: 10px;
    z-index: 1000;
}

.navegacao a {
    position: relative;
    color: #684730;
    text-decoration: none;
    margin-left: 12px;
}

.navegacao a::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    background: #f9f3e7;
    border-radius: 5px;
    left: 0;
    bottom: -6px;
    transform: scaleX(0);
    transition: transform 0.2s;
}

.navegacao a:hover::after {
    transform: scaleX(1);

}

.container {
    background-color: #f9f3e7;
    margin: 0 auto;
    overflow: hidden;
}

section.slider {
    margin: auto;
    width: 100%;
    height: auto;
    padding: 0 !important;
    overflow: hidden;
}

.slider-content {
    width: 400%;
    height: auto;
    display: flex;
}

.slider-content input {
    display: none;
}

.slide-box {
    width: 25%;
    height: auto;
    position: relative;
    text-align: center;
}

.nav-manual, .nav-auto {
    position: absolute;
    width: 100%;
    margin-top: 35px;
    display: flex;
    justify-content: center;
}

.nav-manual .manual-btn, .nav-auto div{
    border: 1px solid #3f2c1e;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.2s;
}

.nav-manual .manual-btn:not(:last-child), .nav-auto div:not(:last-child) {
    margin-right: 10px;
}

.nav-manual .manual-btn:hover {
    background-color: #3f2c1e;
}

.nav-auto p {
    max-width: 700px;
    background-color: #5c4331;
    color: white;
    border-radius: 20px;
    box-shadow: 0 6px 12px rgb(0, 0, 0, 1);
    font-size: 20px;
    padding: 40px;
    text-align: center;
}

section {
    display: grid;
    place-items: center;
    align-items: center;
    min-height: 70vh;
}

.rodape {
    background-color: #f9f3e7;
    display: flex;
    justify-content: center;
    color: #3f2c1e;
    padding: 30px;
    font-size: 20px;
    overflow: hidden;
}

.esconder {
    display: none;
}

.mostrar {
    display: block;
}

p {
    max-width: 700px;
    background-color: #5c4331;
    color: white;
    border-radius: 20px;
    box-shadow: 0 6px 12px rgb(0, 0, 0, 1);
    font-size: 20px;
    padding: 40px;
    text-align: center;
}

section {
    display: grid;
    place-items: center;
    align-items: center;
    min-height: 70vh;
}

.rodape {
    background-color: #f9f3e7;
    display: flex;
    justify-content: center;
    color: #3f2c1e;
    padding: 30px;
    font-size: 20px;
    overflow: hidden;
}

.esconder {
    display: none;
}

.mostrar {
    display: block;
}