@media(max-width: 1024px) {
    .container {
        padding: 20px;
    }

    .container h1 {
        text-align: center;
    }

    .container .filtros {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px;
    }

    .container .filtros .categorias-musicas,
    .container .filtros .btn-filtrar {
        width: 65%;
    }

    .container .filtros .btn-filtrar {
        align-self: center;
    }

    .container .musicas {
        justify-content: center;
    }
}

@media(max-width: 594px) {

    img {
        transform: translateX(30%);
    }

    .container .informacoes {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 14px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 20px;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        top: 0;
        transition: none;
    }

    .cabecalho .icones .icone {
        transform: translateX(100%);
    }

    .cabecalho2 {
        transform: translateX(80%) translateY(-17%);
    }
}